<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Modist - Free Bootstrap 4 Template by Colorlib</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700" rel="stylesheet">

    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.css">

    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/ionicons.min.css">

    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/jquery.timepicker.css">


    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand" href="index.html">THAPARKART</a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
	          <li class="nav-item"><a href="/" class="nav-link" style="{color: white;} :hover{color:black;font-weight: 400;} ">Home</a></li>
	          <li class="nav-item dropdown">

            </li>
	          <li class="nav-item"><a href="/about" class="nav-link">About</a></li>

	          <li class="nav-item"><a href="#contact" class="nav-link" >Contact</a></li>
                <li class="nav-item"><a href="#login" class="nav-link" >Login</a></li>
	          <li class="nav-item cta cta-colored" style="color:white;"><a href="/cart" class="nav-link" style=" :hover{color:black;font-weight: 400;}"><span class="icon-shopping_cart" style=" :hover{color:black;font-weight: 400;}"></span>[0]</a></li>

	        </ul>
	      </div>
	    </div>
	  </nav>
    <!-- END nav -->

		<div class="hero-wrap js-fullheight" style="background-image: url('https://images.pexels.com/photos/754082/pexels-photo-754082.jpeg?cs=srgb&dl=blur-blurred-background-colors-754082.jpg&fm=jpg');">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
        	<h3 class="v">SHOPS IN YOUR VICINITY</h3>
        	<h3 class="vr"></h3>
          <div class="col-md-11 ftco-animate text-center">
            <h2 style="font-size: 70px">WELCOME TO THAPARKART</h2>
            <h2><span>Get your needs fulfilled</span></h2>
          </div>
          <div class="mouse">


						<a href="#" class="mouse-icon">
							<div class="mouse-wheel"><span class="ion-ios-arrow-down"></span></div>
						</a>
					</div>

        </div>
      </div>
    </div>

    <div class="goto-here"></div>

    <section class="ftco-section ftco-product">
    	<div class="container">
    		<div class="row justify-content-center mb-3 pb-3">
          <div class="col-md-12 heading-section text-center ftco-animate">
          	<h1 class="big">Market</h1>
            <h2 class="mb-4">Market</h2>
          </div>
        </div>
    		<div class="row">
    			<div class="col-md-12">
    				<div class="product-slider owl-carousel ftco-animate">
    					<div class="item">
		    				<div class="product">
		    					<a href="#" class="img-prod"><img class="img-fluid" src="images/product-1.jpg" alt="Colorlib Template">

		    					</a>
		    					<div class="text pt-3 px-3">

		    						<div class="d-flex">

			    						<div class="rating">
			    							<p class="text-right">
			    								<span class="ion-ios-star-outline"></span>
			    								<span class="ion-ios-star-outline"></span>
			    								<span class="ion-ios-star-outline"></span>
			    								<span class="ion-ios-star-outline"></span>
			    								<span class="ion-ios-star-outline"></span>
			    							</p>
			    						</div>
		    						</div>
		    					</div>
		    				</div>
	    				</div>
	    				<div class="item">
		    				<div class="product">
		    					<a href="#" class="img-prod"><img class="img-fluid" src="images/product-2.jpg" alt="Colorlib Template"></a>
		    			<div class="text pt-3 px-3">

		    						<div class="d-flex">

				    					<div class="rating">
			    							<p class="text-right">
			    								<span class="ion-ios-star-outline"></span>
			    								<span class="ion-ios-star-outline"></span>
			    								<span class="ion-ios-star-outline"></span>
			    								<span class="ion-ios-star-outline"></span>
			    								<span class="ion-ios-star-outline"></span>
			    							</p>
			    						</div>
			    					</div>
		    					</div>
		    				</div>
	    				</div>
	    				<div class="item">
		    				<div class="product">
		    					<a href="#" class="img-prod"><img class="img-fluid" src="images/product-3.jpg" alt="Colorlib Template"></a>
		    					<div class="text pt-3 px-3">

		    						<div class="d-flex">

				    					<div class="rating">
			    							<p class="text-right">
			    								<span class="ion-ios-star-outline"></span>
			    								<span class="ion-ios-star-outline"></span>
			    								<span class="ion-ios-star-outline"></span>
			    								<span class="ion-ios-star-outline"></span>
			    								<span class="ion-ios-star-outline"></span>
			    							</p>
			    						</div>
			    					</div>
		    					</div>
		    				</div>
	    				</div>
	    				<div class="item">
		    				<div class="product">
		    					<a href="/inventory" class="img-prod"><img class="img-fluid" src="images/KFC.jpg" alt="Colorlib Template"></a>
		    					<div class="text pt-3 px-3">

		    						<div class="d-flex">

				    					<div class="rating">
			    							<p class="text-right">
			    								<span class="ion-ios-star-outline"></span>
			    								<span class="ion-ios-star-outline"></span>
			    								<span class="ion-ios-star-outline"></span>
			    								<span class="ion-ios-star-outline"></span>
			    								<span class="ion-ios-star-outline"></span>
			    							</p>
			    						</div>
			    					</div>
		    					</div>
		    				</div>
	    				</div>
	    				<div class="item">
		    				<div class="product">
		    					<a href="#" class="img-prod"><img src="images/product-5.jpg" alt="Colorlib Template">
			    					<span class="status">30%</span>
			    				</a>
		    					<div class="text pt-3 px-3">

		    						<div class="d-flex">

			    						<div class="rating">
			    							<p class="text-right">
			    								<span class="ion-ios-star-outline"></span>
			    								<span class="ion-ios-star-outline"></span>
			    								<span class="ion-ios-star-outline"></span>
			    								<span class="ion-ios-star-outline"></span>
			    								<span class="ion-ios-star-outline"></span>
			    							</p>
			    						</div>
		    						</div>
		    					</div>
		    				</div>
	    				</div>
	    				<div class="item">
		    				<div class="product">
		    					<a href="#" class="img-prod"><img src="images/product-6.jpg" alt="Colorlib Template"></a>
		    					<div class="text pt-3 px-3">

		    						<div class="d-flex">

				    					<div class="rating">
			    							<p class="text-right">
			    								<span class="ion-ios-star-outline"></span>
			    								<span class="ion-ios-star-outline"></span>
			    								<span class="ion-ios-star-outline"></span>
			    								<span class="ion-ios-star-outline"></span>
			    								<span class="ion-ios-star-outline"></span>
			    							</p>
			    						</div>
			    					</div>
		    					</div>
		    				</div>
	    				</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </section>

    <section class="ftco-section ftco-no-pb ftco-no-pt bg-light" id='about'>
			<div class="container">
				<div class="row">
					<div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url('./images/thapar.jpg');">

					</div>
					<div class="col-md-7 py-5 wrap-about pb-md-5 ftco-animate">
	          <div class="heading-section-bold mb-5 mt-md-5" >
	          	<div class="ml-md-0" >
		            <h2 class="mb-4">Welcome <br>To <br> <span>ThaparKart</span></h2>
	            </div>
	          </div>
	          <div class="pb-md-5">
							<p>We at ThaparKart is aiming to minimise the distance between you and your needs.</p>
							<p>Our team has dedicately working in reducing the space between you and your needs. We aim to connect your requirement whenever and wherever your heart wants. </p>
						</div>
					</div>
				</div>
			</div>
		</section>








    <section class="ftco-section bg-light ftco-services">
    	<div class="container">
    		<div class="row justify-content-center mb-3 pb-3">
          <div class="col-md-12 heading-section text-center ftco-animate">

            <h2>Why you should choose us??</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 text-center d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services">
              <div class="icon d-flex justify-content-center align-items-center mb-4">
            		<span class="flaticon-002-recommended"></span>
              </div>
              <div class="media-body">
                <h3 class="heading">Promising Delivery</h3>
                <p>Guranteed delivery of your product in fastest possible time.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 text-center d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services">
              <div class="icon d-flex justify-content-center align-items-center mb-4">
            		<span class="flaticon-001-box"></span>
              </div>
              <div class="media-body">
                <h3 class="heading">Exciting offers</h3>
                <p>Low delivery rates and exciting offers.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 text-center d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services">
              <div class="icon d-flex justify-content-center align-items-center mb-4">
            		<span class="flaticon-003-medal"></span>
              </div>
              <div class="media-body">
                <h3 class="heading">Your favourite market</h3>
                <p>Your favourite shops within a span of fingers.</p>
              </div>
            </div>
          </div>

        </div>
    	</div>

    </section>

		<section class="ftco-section-parallax">
      <div class="parallax-img d-flex align-items-center">
        <div class="container">
          <div class="row d-flex justify-content-center py-5">
            <div class="col-md-7 text-center heading-section ftco-animate">
            	<h1 class="big" id="login">Login</h1>
              <h2>Login</h2>
              <div class="row d-flex justify-content-center mt-5">
                <div class="col-md-8">
                  <form action="/signup" class="subscribe-form" method="post">
                    <div class="form-group d-flex">
                      <input type="text" class="form-control" name="username" placeholder="Enter email address">




                    </div>
                      <div class="form-group d-flex"><input type="password" class="form-control" name="password" placeholder="Enter password"></div><br/><br/>
                      <div ><input type="submit" value="LOGIN" class="submit px-3" style="background-color: dimgrey; :hover{cursor:pointer; }"></div>
                        <br><a href="/signup">Create an account</a></br>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="ftco-footer bg-light ftco-section" id='contact'>
      <div class="container">
        <div class="row mb-5">
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">


            </div>
          </div>

          <div class="col-md-4">
             <div class="ftco-footer-widget mb-4">

	            </div>
            </div>
          </div>
          <div class="col-md" style="text-align:center; position:relative;">
            <div class="ftco-footer-widget mb-4" style="text-align:center; position:relative; display: inline-block;">
            	<h2 class="ftco-heading-2" style="text-align:center;">Have a Questions?</h2>
            	<div class="block-23 mb-3" style="text-align:center; position:relative; display: inline-block;">
	              <ul style="text-align:center; position:relative; display: inline-block;">

	                <li><a href="#"><span class="icon icon-phone"></span><span class="text">+91-9877392710</span></a></li>
	                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@yourdomain.com</span></a></li>
	              </ul>
	            </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">


          </div>
        </div>

    </footer>



  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/bootstrap-datepicker.js"></script>
  <script src="js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="js/google-map.js"></script>
  <script src="js/main.js"></script>

  </body>
</html>
